App_WebReferences/HRSetup/HRSetup.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:microsoft-dynamics-schemas/page/hrsetup" targetNamespace="urn:microsoft-dynamics-schemas/page/hrsetup" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/page/hrsetup" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:complexType name="HRSetup">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Key" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Appraisal_Period" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Open_Period" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Base_Calendar" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Meal_Amount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Company_x0027_s_Group_Email" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Shared_Document_Path" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Confirmation_Nos" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Loan_Amount_Percent" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Leave_Posting_Period_x005B_FROM_x005D_" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Leave_Posting_Period_x005B_TO_x005D_" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Default_Leave_Posting_Template" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Default_Leave_Posting_Batch" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Annual_Leave_Qualification" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Leave_Allowance_Days" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Maternity_Leave_Period" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Forfeit_Leave_After" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Current_Leave_Period" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Maternity_Application_Before" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Leave_Application_Before" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Training_Application_Before" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Employee_Nos" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Training_Application_Nos" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Leave_Application_Nos" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Disciplinary_Cases_Nos" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Transport_Req_Nos" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Employee_Requisition_Nos" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Job_Application_Nos" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Exit_Interview_Nos" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Appraisal_Nos" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Company_Activities" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Job_Interview_Nos" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Ticket_Nos" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Loan_Nos" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Career_Event" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Training_Need_Nos" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Leave_Acknowledgement_Nos" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Employee_ID_Nos" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Transaction_Nos" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="HRSetup_List">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="HRSetup" type="tns:HRSetup" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="HRSetup_Fields">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Appraisal_Period" />
          <xsd:enumeration value="Open_Period" />
          <xsd:enumeration value="Base_Calendar" />
          <xsd:enumeration value="Meal_Amount" />
          <xsd:enumeration value="Company_x0027_s_Group_Email" />
          <xsd:enumeration value="Shared_Document_Path" />
          <xsd:enumeration value="Confirmation_Nos" />
          <xsd:enumeration value="Loan_Amount_Percent" />
          <xsd:enumeration value="Leave_Posting_Period_x005B_FROM_x005D_" />
          <xsd:enumeration value="Leave_Posting_Period_x005B_TO_x005D_" />
          <xsd:enumeration value="Default_Leave_Posting_Template" />
          <xsd:enumeration value="Default_Leave_Posting_Batch" />
          <xsd:enumeration value="Annual_Leave_Qualification" />
          <xsd:enumeration value="Leave_Allowance_Days" />
          <xsd:enumeration value="Maternity_Leave_Period" />
          <xsd:enumeration value="Forfeit_Leave_After" />
          <xsd:enumeration value="Current_Leave_Period" />
          <xsd:enumeration value="Maternity_Application_Before" />
          <xsd:enumeration value="Leave_Application_Before" />
          <xsd:enumeration value="Training_Application_Before" />
          <xsd:enumeration value="Employee_Nos" />
          <xsd:enumeration value="Training_Application_Nos" />
          <xsd:enumeration value="Leave_Application_Nos" />
          <xsd:enumeration value="Disciplinary_Cases_Nos" />
          <xsd:enumeration value="Transport_Req_Nos" />
          <xsd:enumeration value="Employee_Requisition_Nos" />
          <xsd:enumeration value="Job_Application_Nos" />
          <xsd:enumeration value="Exit_Interview_Nos" />
          <xsd:enumeration value="Appraisal_Nos" />
          <xsd:enumeration value="Company_Activities" />
          <xsd:enumeration value="Job_Interview_Nos" />
          <xsd:enumeration value="Ticket_Nos" />
          <xsd:enumeration value="Loan_Nos" />
          <xsd:enumeration value="Career_Event" />
          <xsd:enumeration value="Training_Need_Nos" />
          <xsd:enumeration value="Leave_Acknowledgement_Nos" />
          <xsd:enumeration value="Employee_ID_Nos" />
          <xsd:enumeration value="Transaction_Nos" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="HRSetup_Filter">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="Field" type="tns:HRSetup_Fields" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Criteria" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ReadByRecId">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="recId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="HRSetup" type="tns:HRSetup" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="filter" type="tns:HRSetup_Filter" />
            <xsd:element minOccurs="0" maxOccurs="1" name="bookmarkKey" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="setSize" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ReadMultiple_Result" type="tns:HRSetup_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="IsUpdated_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="GetRecIdFromKey_Result" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Update">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="HRSetup" type="tns:HRSetup" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Update_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="HRSetup" type="tns:HRSetup" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="HRSetup_List" type="tns:HRSetup_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="HRSetup_List" type="tns:HRSetup_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="ReadByRecId">
    <part name="parameters" element="tns:ReadByRecId" />
  </message>
  <message name="ReadByRecId_Result">
    <part name="parameters" element="tns:ReadByRecId_Result" />
  </message>
  <message name="ReadMultiple">
    <part name="parameters" element="tns:ReadMultiple" />
  </message>
  <message name="ReadMultiple_Result">
    <part name="parameters" element="tns:ReadMultiple_Result" />
  </message>
  <message name="IsUpdated">
    <part name="parameters" element="tns:IsUpdated" />
  </message>
  <message name="IsUpdated_Result">
    <part name="parameters" element="tns:IsUpdated_Result" />
  </message>
  <message name="GetRecIdFromKey">
    <part name="parameters" element="tns:GetRecIdFromKey" />
  </message>
  <message name="GetRecIdFromKey_Result">
    <part name="parameters" element="tns:GetRecIdFromKey_Result" />
  </message>
  <message name="Update">
    <part name="parameters" element="tns:Update" />
  </message>
  <message name="Update_Result">
    <part name="parameters" element="tns:Update_Result" />
  </message>
  <message name="UpdateMultiple">
    <part name="parameters" element="tns:UpdateMultiple" />
  </message>
  <message name="UpdateMultiple_Result">
    <part name="parameters" element="tns:UpdateMultiple_Result" />
  </message>
  <portType name="HRSetup_Port">
    <operation name="ReadByRecId">
      <input name="ReadByRecId" message="tns:ReadByRecId" />
      <output name="ReadByRecId_Result" message="tns:ReadByRecId_Result" />
    </operation>
    <operation name="ReadMultiple">
      <input name="ReadMultiple" message="tns:ReadMultiple" />
      <output name="ReadMultiple_Result" message="tns:ReadMultiple_Result" />
    </operation>
    <operation name="IsUpdated">
      <input name="IsUpdated" message="tns:IsUpdated" />
      <output name="IsUpdated_Result" message="tns:IsUpdated_Result" />
    </operation>
    <operation name="GetRecIdFromKey">
      <input name="GetRecIdFromKey" message="tns:GetRecIdFromKey" />
      <output name="GetRecIdFromKey_Result" message="tns:GetRecIdFromKey_Result" />
    </operation>
    <operation name="Update">
      <input name="Update" message="tns:Update" />
      <output name="Update_Result" message="tns:Update_Result" />
    </operation>
    <operation name="UpdateMultiple">
      <input name="UpdateMultiple" message="tns:UpdateMultiple" />
      <output name="UpdateMultiple_Result" message="tns:UpdateMultiple_Result" />
    </operation>
  </portType>
  <binding name="HRSetup_Binding" type="tns:HRSetup_Port">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="ReadByRecId">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/hrsetup:ReadByRecId" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadByRecId">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadByRecId_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ReadMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/hrsetup:ReadMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="IsUpdated">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/hrsetup:IsUpdated" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="IsUpdated">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="IsUpdated_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetRecIdFromKey">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/hrsetup:GetRecIdFromKey" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetRecIdFromKey">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetRecIdFromKey_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Update">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/hrsetup:Update" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Update">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Update_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="UpdateMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/hrsetup:UpdateMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="UpdateMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="UpdateMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="HRSetup_Service">
    <port name="HRSetup_Port" binding="tns:HRSetup_Binding">
      <address location="http://nav_test.pensure-nigeria.com:1147/PENSURETESTFUND/WS/PENSURE%20SHAREHOLDERS%20FUNDS/Page/HRSetup" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>