App_WebReferences/EmployeeCard/EmployeeCard.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:microsoft-dynamics-schemas/page/employeecard" targetNamespace="urn:microsoft-dynamics-schemas/page/employeecard" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/page/employeecard" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:simpleType name="Title">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="MR" />
          <xsd:enumeration value="MRS" />
          <xsd:enumeration value="MISS" />
          <xsd:enumeration value="MS" />
          <xsd:enumeration value="DR" />
          <xsd:enumeration value="CC" />
          <xsd:enumeration value="ASSCOC_PROF" />
          <xsd:enumeration value="PROF" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Status">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Active" />
          <xsd:enumeration value="Inactive" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Gender">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Female" />
          <xsd:enumeration value="Male" />
          <xsd:enumeration value="Both" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Marital_Status">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="Single" />
          <xsd:enumeration value="Married" />
          <xsd:enumeration value="Separated" />
          <xsd:enumeration value="Divorced" />
          <xsd:enumeration value="Widowed" />
          <xsd:enumeration value="Other" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Has_Driving_Licence">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Yes" />
          <xsd:enumeration value="No" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Disabled">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="No" />
          <xsd:enumeration value="Yes" />
          <xsd:enumeration value="_blank_" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Medical_Scheme_Plan">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank__blank_" />
          <xsd:enumeration value="Standard_Plan" />
          <xsd:enumeration value="Silver__x002B_" />
          <xsd:enumeration value="Gold" />
          <xsd:enumeration value="Platinum" />
          <xsd:enumeration value="Family" />
          <xsd:enumeration value="Pension" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Resource_Type">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="Driver" />
          <xsd:enumeration value="Mechanic" />
          <xsd:enumeration value="Administrative" />
          <xsd:enumeration value="Operations" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Full_Part_Time">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Full_Time" />
          <xsd:enumeration value="Part_Time" />
          <xsd:enumeration value="Contract" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Termination_Grounds">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="Resignation" />
          <xsd:enumeration value="Non_Renewal_Of_Contract" />
          <xsd:enumeration value="Dismissal" />
          <xsd:enumeration value="Retirement" />
          <xsd:enumeration value="Deceased" />
          <xsd:enumeration value="Termination" />
          <xsd:enumeration value="Contract_Ended" />
          <xsd:enumeration value="Abscondment" />
          <xsd:enumeration value="Appt_Revoked" />
          <xsd:enumeration value="Contract_Termination" />
          <xsd:enumeration value="Retrenchment" />
          <xsd:enumeration value="Other" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Leave_Status">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="On_Leave" />
          <xsd:enumeration value="Resumed" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="EmployeeCard">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Key" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="First_Name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Middle_Name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Last_Name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ID_Number" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Passport_Number" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Citizenship" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Citizenship_Text" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Department_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Global_Dimension_2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Title" type="tns:Title" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Post_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Postal_Address" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Residential_Address" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="City" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="County" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Last_Date_Modified" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="User_ID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Supervisor" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Supervisor_Manager" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="SupervisorNames" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Supervisor_x0027_s_Job_Title" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Status" type="tns:Status" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Available" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Home_Phone_Number" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Cell_Phone_Number" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Fax_Number" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Work_Phone_Number" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Ext" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Personal_E_Mail" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Company_E_Mail" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Gender" type="tns:Gender" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Marital_Status" type="tns:Marital_Status" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Religion" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="First_Language_R_W_S" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="First_Language_Read" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="First_Language_Write" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="First_Language_Speak" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Second_Language_R_W_S" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Second_Language_Read" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Second_Language_Write" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Second_Language_Speak" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Additional_Language" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Has_Driving_Licence" type="tns:Has_Driving_Licence" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Vehicle_Registration_Number" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Disabled" type="tns:Disabled" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Disability_Details" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Health_Assesment_x003F_" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Medical_Scheme_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Medical_Scheme_Plan" type="tns:Medical_Scheme_Plan" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Medical_Sch_Hospital_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Medical_Scheme_Hospital" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Number_Of_Dependants" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Cause_of_Inactivity_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="_minus_" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Main_Bank" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Branch_Bank" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Bank_Account_Number" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Date_Of_Birth" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="DAge" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Date_Of_Joining_the_Company" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="DService" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Probation_Date_3mnths" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Confirmation_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Probation_Form_Filled" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Confirmation_Form_Filled" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="End_of_Probation_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Pension_Scheme_Join_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="DPension" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Medical_Scheme_Join_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="DMedical" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Wedding_Anniversary" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="LastLeaveCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Job_Title" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Job_Description" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Grade" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Job_Level" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Resource_Type" type="tns:Resource_Type" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Posting_Group" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Salary_Grade" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Salary_Step" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Employee_Classification" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Payroll_Filter_Group" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Employment_Type" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Contract_Type" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Contract_End_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Notice_Period" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Send_Alert_to" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Full_Part_Time" type="tns:Full_Part_Time" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PIN_Number" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Pension_Fund_Administrator" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="NSSF_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="NHIF_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Date_Of_Leaving_the_Company" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Termination_Grounds" type="tns:Termination_Grounds" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Exit_Interview_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Exit_Interview_Done_by" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Reimbursed_Leave_Days" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Allocated_Leave_Days" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Total_Leave_Days" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Total_Leave_Taken" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Leave_Balance" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Acrued_Leave_Days" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Cash_per_Leave_Day" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Cash_Leave_Earned" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Leave_Status" type="tns:Leave_Status" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Leave_Type_Filter" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Leave_Period_Filter" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="EmployeeCard_List">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="EmployeeCard" type="tns:EmployeeCard" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="EmployeeCard_Fields">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="No" />
          <xsd:enumeration value="First_Name" />
          <xsd:enumeration value="Middle_Name" />
          <xsd:enumeration value="Last_Name" />
          <xsd:enumeration value="ID_Number" />
          <xsd:enumeration value="Passport_Number" />
          <xsd:enumeration value="Citizenship" />
          <xsd:enumeration value="Citizenship_Text" />
          <xsd:enumeration value="Department_Code" />
          <xsd:enumeration value="Global_Dimension_2" />
          <xsd:enumeration value="Title" />
          <xsd:enumeration value="Post_Code" />
          <xsd:enumeration value="Postal_Address" />
          <xsd:enumeration value="Residential_Address" />
          <xsd:enumeration value="City" />
          <xsd:enumeration value="County" />
          <xsd:enumeration value="Last_Date_Modified" />
          <xsd:enumeration value="User_ID" />
          <xsd:enumeration value="Supervisor" />
          <xsd:enumeration value="Supervisor_Manager" />
          <xsd:enumeration value="SupervisorNames" />
          <xsd:enumeration value="Supervisor_x0027_s_Job_Title" />
          <xsd:enumeration value="Status" />
          <xsd:enumeration value="Available" />
          <xsd:enumeration value="Home_Phone_Number" />
          <xsd:enumeration value="Cell_Phone_Number" />
          <xsd:enumeration value="Fax_Number" />
          <xsd:enumeration value="Work_Phone_Number" />
          <xsd:enumeration value="Ext" />
          <xsd:enumeration value="Personal_E_Mail" />
          <xsd:enumeration value="Company_E_Mail" />
          <xsd:enumeration value="Gender" />
          <xsd:enumeration value="Marital_Status" />
          <xsd:enumeration value="Religion" />
          <xsd:enumeration value="First_Language_R_W_S" />
          <xsd:enumeration value="First_Language_Read" />
          <xsd:enumeration value="First_Language_Write" />
          <xsd:enumeration value="First_Language_Speak" />
          <xsd:enumeration value="Second_Language_R_W_S" />
          <xsd:enumeration value="Second_Language_Read" />
          <xsd:enumeration value="Second_Language_Write" />
          <xsd:enumeration value="Second_Language_Speak" />
          <xsd:enumeration value="Additional_Language" />
          <xsd:enumeration value="Has_Driving_Licence" />
          <xsd:enumeration value="Vehicle_Registration_Number" />
          <xsd:enumeration value="Disabled" />
          <xsd:enumeration value="Disability_Details" />
          <xsd:enumeration value="Health_Assesment_x003F_" />
          <xsd:enumeration value="Medical_Scheme_No" />
          <xsd:enumeration value="Medical_Scheme_Plan" />
          <xsd:enumeration value="Medical_Sch_Hospital_Code" />
          <xsd:enumeration value="Medical_Scheme_Hospital" />
          <xsd:enumeration value="Number_Of_Dependants" />
          <xsd:enumeration value="Cause_of_Inactivity_Code" />
          <xsd:enumeration value="_minus_" />
          <xsd:enumeration value="Main_Bank" />
          <xsd:enumeration value="Branch_Bank" />
          <xsd:enumeration value="Bank_Account_Number" />
          <xsd:enumeration value="Date_Of_Birth" />
          <xsd:enumeration value="DAge" />
          <xsd:enumeration value="Date_Of_Joining_the_Company" />
          <xsd:enumeration value="DService" />
          <xsd:enumeration value="Probation_Date_3mnths" />
          <xsd:enumeration value="Confirmation_Date" />
          <xsd:enumeration value="Probation_Form_Filled" />
          <xsd:enumeration value="Confirmation_Form_Filled" />
          <xsd:enumeration value="End_of_Probation_Date" />
          <xsd:enumeration value="Pension_Scheme_Join_Date" />
          <xsd:enumeration value="DPension" />
          <xsd:enumeration value="Medical_Scheme_Join_Date" />
          <xsd:enumeration value="DMedical" />
          <xsd:enumeration value="Wedding_Anniversary" />
          <xsd:enumeration value="LastLeaveCode" />
          <xsd:enumeration value="Job_Title" />
          <xsd:enumeration value="Job_Description" />
          <xsd:enumeration value="Grade" />
          <xsd:enumeration value="Job_Level" />
          <xsd:enumeration value="Resource_Type" />
          <xsd:enumeration value="Posting_Group" />
          <xsd:enumeration value="Salary_Grade" />
          <xsd:enumeration value="Salary_Step" />
          <xsd:enumeration value="Employee_Classification" />
          <xsd:enumeration value="Payroll_Filter_Group" />
          <xsd:enumeration value="Employment_Type" />
          <xsd:enumeration value="Contract_Type" />
          <xsd:enumeration value="Contract_End_Date" />
          <xsd:enumeration value="Notice_Period" />
          <xsd:enumeration value="Send_Alert_to" />
          <xsd:enumeration value="Full_Part_Time" />
          <xsd:enumeration value="PIN_Number" />
          <xsd:enumeration value="Pension_Fund_Administrator" />
          <xsd:enumeration value="NSSF_No" />
          <xsd:enumeration value="NHIF_No" />
          <xsd:enumeration value="Date_Of_Leaving_the_Company" />
          <xsd:enumeration value="Termination_Grounds" />
          <xsd:enumeration value="Exit_Interview_Date" />
          <xsd:enumeration value="Exit_Interview_Done_by" />
          <xsd:enumeration value="Reimbursed_Leave_Days" />
          <xsd:enumeration value="Allocated_Leave_Days" />
          <xsd:enumeration value="Total_Leave_Days" />
          <xsd:enumeration value="Total_Leave_Taken" />
          <xsd:enumeration value="Leave_Balance" />
          <xsd:enumeration value="Acrued_Leave_Days" />
          <xsd:enumeration value="Cash_per_Leave_Day" />
          <xsd:enumeration value="Cash_Leave_Earned" />
          <xsd:enumeration value="Leave_Status" />
          <xsd:enumeration value="Leave_Type_Filter" />
          <xsd:enumeration value="Leave_Period_Filter" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="EmployeeCard_Filter">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="Field" type="tns:EmployeeCard_Fields" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Criteria" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Read">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="No" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Read_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="EmployeeCard" type="tns:EmployeeCard" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="recId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="EmployeeCard" type="tns:EmployeeCard" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="filter" type="tns:EmployeeCard_Filter" />
            <xsd:element minOccurs="0" maxOccurs="1" name="bookmarkKey" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="setSize" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ReadMultiple_Result" type="tns:EmployeeCard_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="IsUpdated_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="GetRecIdFromKey_Result" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Create">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="EmployeeCard" type="tns:EmployeeCard" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Create_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="EmployeeCard" type="tns:EmployeeCard" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="EmployeeCard_List" type="tns:EmployeeCard_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="EmployeeCard_List" type="tns:EmployeeCard_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Update">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="EmployeeCard" type="tns:EmployeeCard" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Update_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="EmployeeCard" type="tns:EmployeeCard" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="EmployeeCard_List" type="tns:EmployeeCard_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="EmployeeCard_List" type="tns:EmployeeCard_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Delete_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="Read">
    <part name="parameters" element="tns:Read" />
  </message>
  <message name="Read_Result">
    <part name="parameters" element="tns:Read_Result" />
  </message>
  <message name="ReadByRecId">
    <part name="parameters" element="tns:ReadByRecId" />
  </message>
  <message name="ReadByRecId_Result">
    <part name="parameters" element="tns:ReadByRecId_Result" />
  </message>
  <message name="ReadMultiple">
    <part name="parameters" element="tns:ReadMultiple" />
  </message>
  <message name="ReadMultiple_Result">
    <part name="parameters" element="tns:ReadMultiple_Result" />
  </message>
  <message name="IsUpdated">
    <part name="parameters" element="tns:IsUpdated" />
  </message>
  <message name="IsUpdated_Result">
    <part name="parameters" element="tns:IsUpdated_Result" />
  </message>
  <message name="GetRecIdFromKey">
    <part name="parameters" element="tns:GetRecIdFromKey" />
  </message>
  <message name="GetRecIdFromKey_Result">
    <part name="parameters" element="tns:GetRecIdFromKey_Result" />
  </message>
  <message name="Create">
    <part name="parameters" element="tns:Create" />
  </message>
  <message name="Create_Result">
    <part name="parameters" element="tns:Create_Result" />
  </message>
  <message name="CreateMultiple">
    <part name="parameters" element="tns:CreateMultiple" />
  </message>
  <message name="CreateMultiple_Result">
    <part name="parameters" element="tns:CreateMultiple_Result" />
  </message>
  <message name="Update">
    <part name="parameters" element="tns:Update" />
  </message>
  <message name="Update_Result">
    <part name="parameters" element="tns:Update_Result" />
  </message>
  <message name="UpdateMultiple">
    <part name="parameters" element="tns:UpdateMultiple" />
  </message>
  <message name="UpdateMultiple_Result">
    <part name="parameters" element="tns:UpdateMultiple_Result" />
  </message>
  <message name="Delete">
    <part name="parameters" element="tns:Delete" />
  </message>
  <message name="Delete_Result">
    <part name="parameters" element="tns:Delete_Result" />
  </message>
  <portType name="EmployeeCard_Port">
    <operation name="Read">
      <input name="Read" message="tns:Read" />
      <output name="Read_Result" message="tns:Read_Result" />
    </operation>
    <operation name="ReadByRecId">
      <input name="ReadByRecId" message="tns:ReadByRecId" />
      <output name="ReadByRecId_Result" message="tns:ReadByRecId_Result" />
    </operation>
    <operation name="ReadMultiple">
      <input name="ReadMultiple" message="tns:ReadMultiple" />
      <output name="ReadMultiple_Result" message="tns:ReadMultiple_Result" />
    </operation>
    <operation name="IsUpdated">
      <input name="IsUpdated" message="tns:IsUpdated" />
      <output name="IsUpdated_Result" message="tns:IsUpdated_Result" />
    </operation>
    <operation name="GetRecIdFromKey">
      <input name="GetRecIdFromKey" message="tns:GetRecIdFromKey" />
      <output name="GetRecIdFromKey_Result" message="tns:GetRecIdFromKey_Result" />
    </operation>
    <operation name="Create">
      <input name="Create" message="tns:Create" />
      <output name="Create_Result" message="tns:Create_Result" />
    </operation>
    <operation name="CreateMultiple">
      <input name="CreateMultiple" message="tns:CreateMultiple" />
      <output name="CreateMultiple_Result" message="tns:CreateMultiple_Result" />
    </operation>
    <operation name="Update">
      <input name="Update" message="tns:Update" />
      <output name="Update_Result" message="tns:Update_Result" />
    </operation>
    <operation name="UpdateMultiple">
      <input name="UpdateMultiple" message="tns:UpdateMultiple" />
      <output name="UpdateMultiple_Result" message="tns:UpdateMultiple_Result" />
    </operation>
    <operation name="Delete">
      <input name="Delete" message="tns:Delete" />
      <output name="Delete_Result" message="tns:Delete_Result" />
    </operation>
  </portType>
  <binding name="EmployeeCard_Binding" type="tns:EmployeeCard_Port">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="Read">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/employeecard:Read" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Read">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Read_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ReadByRecId">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/employeecard:ReadByRecId" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadByRecId">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadByRecId_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ReadMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/employeecard:ReadMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="IsUpdated">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/employeecard:IsUpdated" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="IsUpdated">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="IsUpdated_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetRecIdFromKey">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/employeecard:GetRecIdFromKey" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetRecIdFromKey">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetRecIdFromKey_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Create">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/employeecard:Create" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Create">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Create_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CreateMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/employeecard:CreateMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CreateMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CreateMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Update">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/employeecard:Update" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Update">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Update_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="UpdateMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/employeecard:UpdateMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="UpdateMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="UpdateMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Delete">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/employeecard:Delete" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Delete">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Delete_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="EmployeeCard_Service">
    <port name="EmployeeCard_Port" binding="tns:EmployeeCard_Binding">
      <address location="http://nav_test.pensure-nigeria.com:1147/PENSURETESTFUND/WS/PENSURE%20SHAREHOLDERS%20FUNDS/Page/EmployeeCard" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>